<html ng-app="app">
<head>

<title></title>
</head>
<body ng-controller="MainCtrl">
<div align="center">
[[ hello ]]


<form>
<input ng-model="number_input" type="text"/>
<button ng-click="submitnum()">submit</button>
</form>

<div ng-show="showdiv">
<p>COMPUTER: [[ cnumber ]]</p>
<p>YOU: [[ hnumber ]]</p>
<h3 ng-show="correct">YOU GUESSED IT RIGHT</h3>
<h3 ng-hide="correct">YOU GUESSED IT WRONG</h3>

</div>
<p ng-show="message">[[ message ]] </p>
</div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="static/app.js"></script>

</html>